.page-home {
  @include media-breakpoint-up(sm) {
    background-size: 90%;
    background-position: 159px -40px;
  }
  @include media-breakpoint-up(md) {
    background-image: url('../images/undraw_Landing_page.inline.svg');
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 499px -80px;
  }
  @include media-breakpoint-up(lg) {
    background-image: url('../images/undraw_Landing_page.inline.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 150% -20px;
  }

}
