.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
}
@media screen and (max-width: 768px) {
  /* Additional styling for smaller screens */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    h6{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 375px) {
  /* Additional styling for smaller screens */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 1px; */
    }
    h6{
        font-size: 1rem;
    }
}


.grid-item {
    padding: 5px
}