.our-works {
  background-image: url("../images/undraw_creative_team.inline.svg");
  background-repeat: no-repeat;
  background-position: 49px -10px;
  @include media-breakpoint-up(sm) {
    background-size: 90%;
    background-position: 159px -40px;
  }
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 100% -50px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 70%;
    background-position: 100% -20px;
  }
  a {
    transition: all 0.5s ease-in-out;
  }

  .work-img {
    display: block;
    overflow: hidden;
  }


  .work-img img {
    max-width: 100%;
    height: auto;
    transition: all 1s;
  }

  .work-img img :hover {
    // max-width: 100%;
    // height: auto;
    transition: all 0.5s ease-in-out;

  }

  .work-box {
    margin-bottom: 3rem;
    backface-visibility: hidden;
  }

  .work-content {
    padding: 2rem 2% 1rem 4%;
  }

  .more {
    font-size: 0.8rem;
  }

  .category {
    color: #eba937;
    font-weight: 500;
  }
}
